/* Navbar general styles */
.navbar {
  background: rgb(30,30,30);
  background: linear-gradient(to right, #333232, #000000);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  gap: 60px;
}

.desktopMenu {
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 120px;
}

.desktopMenuListItem {
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.desktopMenuListItem:hover {
  color: #f0e68c;
}

button {
  background-color: #f0e68c;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ffc107;
}

img {
  height: 50px;
  width: 50px;
}

#Contact_button {
  height: 50px;
  width: 130px;
}

.menu-item:hover {
  
  color: #ffc107;
}

.active {
  color: yellow;
}
