*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}

body{
  background: rgb(30,30,30);
  color:white;
  overflow: hidden;
  overflow-y: scroll;
  background: linear-gradient(to right, #3f3e3e, #000000);
}

@media (max-width: 768px) {
  /* Responsive adjustments for smaller screens */
  .content {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 50px;
  }
}